---
title: Promenade West sales report
layout: default
---

<header class="row-fluid">
    <h1 class="col-sm-12 display-4">{{ page.title }}</h1>
    <p class="col-sm-12">A draft by Ben Welsh • {{ site.time|date:"%B %-d, %Y"}}</p>
    <p class="col-sm-12">There have been {{ site.data.pwest.this_year.count }} sales at Promenade West this year. The median sales price was ${{ site.data.pwest.this_year.median_price|round|intcomma }}, a {{ site.data.pwest.change.price|round:"1" }}% increase over last year.</p>
    <p class="col-sm-12">
        In comparison, there have been {{ site.data.dtla.this_year.count }} sales in all of downtown this year. The median sales price across the entire area was ${{ site.data.dtla.this_year.median_price|round|intcomma }}, a {{ site.data.dtla.change.price|round:"1" }}% increase over last year.
    </p>
</header>

<section class="row-fluid">
    <h4 class="col-sm-12">Recent sales at Promenade West</h4>
    <table class="col-sm-7 table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Date</th>
                <th class="text-right">Unit</th>
                <th class="text-right">Price</th>
                <th class="text-right">Sqft.</th>
                <th class="text-right">Per sqft.</th>
            </tr>
        </thead>
        <tbody>
        {% for row in site.data.pwest_sales %}
        {% if forloop.index < 6 %}
        <tr>
            <td><a href="{{ row.url }}">{{ row.date|date:"%Y-%m-%d" }}</a></td>
            <td class="text-right">{{ row.unit }}</td>
            <td class="text-right">${{ row.price }}</td>
            <td class="text-right">{{ row.square_feet }}</td>
            <td class="text-right">${{ row.price_per_square_foot|round:0 }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    </table>
</section>


<section class="row-fluid">
    <h4 class="col-sm-12">Sales volume</h4>
    <p class="col-sm-12">Promenade West in black. Downtown in gray.</p>
    <figure>
        <img src="assets/sales-by-year.svg" class="img-fluid col-sm-5">
        <img src="assets/dtla-sales-by-year.svg" class="img-fluid col-sm-5">
    </figure>
</section>


<section class="row-fluid">
    <h4 class="col-sm-12">Median sales price by year</h4>
    <p class="col-sm-12">Promenade West in black. Downtown in gray.</p>
    <figure>
        <img src="assets/price-by-year.svg" class="img-fluid col-sm-5">
        <img src="assets/dtla-price-by-year.svg" class="img-fluid col-sm-5">
    </figure>
</section>

<section class="row-fluid">
    <h4 class="col-sm-12">Median price per square foot by year</h4>
    <p class="col-sm-12">The median sales price per square foot at Promenade West this year was ${{ site.data.pwest.this_year.median_price_per_sqft|round|intcomma }}, a {{ site.data.pwest.change.median_price_per_sqft|round:"1" }}% increase over last year.</p>
    <p class="col-sm-12">
        In comparison, the median sales price per square foot across all of downtown was ${{ site.data.dtla.this_year.median_price_per_sqft|round|intcomma }}, a {{ site.data.dtla.change.median_price_per_sqft|round:"1" }}% increase over last year.
    </p>

    <p class="col-sm-12">Promenade West in black. Downtown in gray.</p>
    <figure>
        <img src="assets/price-per-sqft-by-year.svg" class="img-fluid col-sm-5">
        <img src="assets/dtla-price-per-sqft-by-year.svg" class="img-fluid col-sm-5">
    </figure>
</section>

<section class="row-fluid">
    <h4 class="col-sm-12">Buildings with the largest units</h4>
    <p class="col-sm-12">
       Unit sold in Promenade West are among the largest downtown. The median size of all sales is {{ site.data.pwest.all_time.median_sqft|round|intcomma }} square feet.
    </p>
    <p class="col-sm-12">Promenade West in black. Other buildings in gray.</p>
    <figure>
        <img src="assets/size-by-building.svg" class="img-fluid col-sm-8">
    </figure>
</section>

<section class="row-fluid"></section>
