---
title: Promenade West sales report
layout: default
---

<header class="row-fluid">
    <h1 class="col-sm-12 display-4">{{ page.title }}</h1>
    <p class="col-sm-12">A draft by Ben Welsh • {{ site.time|date:"%B %-d, %Y"}}</p>
</header>

<section class="row-fluid">
    <h4 class="col-sm-12">Recent sales</h4>
    <table class="col-sm-7 table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Date</th>
                <th class="text-right">Unit</th>
                <th class="text-right">Price</th>
                <th class="text-right">Sqft.</th>
                <th class="text-right">Per sqft.</th>
            </tr>
        </thead>
        <tbody>
        {% for row in site.data.sales %}
        {% if forloop.index < 6 %}
        <tr>
            <td>{{ row.date|date:"%Y-%m-%d" }}</td>
            <td class="text-right">{{ row.unit }}</td>
            <td class="text-right">${{ row.price }}</td>
            <td class="text-right">{{ row.square_feet }}</td>
            <td class="text-right">${{ row.price_per_square_foot|round:0 }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    </table>
</section>


<section class="row-fluid">
    <h4 class="col-sm-12">Sales volume</h4>
    <img src="assets/sales-by-year.svg" class="img-fluid col-sm-8">
</section>


<section class="row-fluid">
    <h4 class="col-sm-12">Price by date</h4>
    <img src="assets/price-by-date.svg" class="img-fluid col-sm-8">
</section>


<section class="row-fluid">
    <h4 class="col-sm-12">Price per square foot by date</h4>
    <img src="assets/price-per-sqft-by-date.svg" class="img-fluid col-sm-8">
</section>


<section class="row-fluid">
    <h4 class="col-sm-12">Price by year</h4>
    <img src="assets/price-by-year.svg" class="img-fluid col-sm-8">
</section>


<section class="row-fluid">
    <h4 class="col-sm-12">Price per square foot by year</h4>
    <img src="assets/price-per-sqft-by-year.svg" class="img-fluid col-sm-8">
</section>

<section class="row-fluid"></section>
